@tailwind base;
@tailwind components;
@tailwind utilities;


.upload-file{
    margin-top: 20px;
    margin-left: 1px;
    margin-bottom: 10px;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
}
@media screen and (min-width: 500px) {
    .upload-file{
    flex-direction: row;
}
}
.upload-file input{
    display: none;
}
.upload-file span{
  color: rgb(84, 3, 116);
  font-weight: 700;
    font-size: 17px;
    margin-left: 16px;
    align-self: center;
}
.upload-file label{
  max-width: 160px;
  transition: 0.5s ease-in-out all;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 20px;
    padding: 12px 24px;
    color: #fff;
    background-color: rgb(84, 3, 116);
    text-decoration: none;
}

@media screen and (min-width: 576px) {
  .upload-file label{
    align-self: center;
  }
}
.datainput button{
  transition: 0.5s ease-in-out all;
  margin-left: 20px;
  margin-top: 10px;
    width: 30%;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    padding: 12px 24px;
    color: #fff;
    background-color: rgb(84, 3, 116);
    text-decoration: none;
}
.datainput button:nth-child(1){
  margin-top: 0;
}
.data-info{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 550px) {
  .data-info{
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 10px;
  }
  .datainput button{
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
    .data-info{
    display: flex;
    flex-direction: row;
}
}
.data-info input:nth-child(1){
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
/* .data-info input:nth-child(2){
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
} */
.data-info input:nth-child(3){
  margin-right: 10px;
  margin-left: 20px;
}
@media screen and (min-width: 550px) {
  .data-info input:nth-child(1){
  margin-bottom: 0;
}
.data-info input:nth-child(2){
  margin-right: 0px;
  margin-left: 0;
}
}
.data-info input{
  color: rgb(84, 3, 116);
    width: 150px;
    height: 45px;
    transition: .5s ease-in-out;
    padding: 4px 10px;
    border: none;
    border-radius: 20px;
}

.data-info input:focus{
    outline: none;
    box-shadow: 0 5px 0 0 rgb(84, 3, 116);
}